.control_panel {
  align-items: center;
  min-width: 64px;
  min-height: 64px;
  max-width: 128px;
  max-height: 128px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.buttons{
  display: flex;
  flex-direction: column;
}
.avatar {
  width: 64px;
  height: 64px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.message_card {
  max-width: 25%;
  min-width: 256px;
  border-radius: 32px;
  background: #57f072;
  margin: 16px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
